./Новая папка
./check
./first_idz
first_idz.xcodeproj
NEWController.swift
NEWController.xib
therdVC.swift
therdVC.xib
therdViewController.swift
therdViewViewController.swift
therdViewViewController.xib